<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"  type="text/css" href={{url_for('static', filename='style.css')}}>

    {# block to change title #}
	<title>{% block title %} BrainGPT {% endblock %}</title>
</head>
<style>
    :root {
    --background-url: url('{{ url_for('static', filename='brain_floating_two_hands.png') }}');
}
</style>


<body> 
    <div class="container">
        <div class="header">
            BrainGPT
        </div>
        <div class="navigation"></div>
        <div class="empty_space"></div>
        <div class="introduction">
            {% block introduction %}
            <p>No content found</p>
            {% endblock %}
        </div>
        <div class="question">
            {% block question %}
            <p>No content found</p>
            {% endblock %}
        </div>
        <div class="content">
            {# Content of page #} 
            {% block content %}
            <p>No content found</p>
            {% endblock %}  
        </div>
        <div class="history">
            {# Content of page #} 
            {% block history %}
            <p>No content found</p>
            {% endblock %}  
        </div>
        <div class="footer">
            © Copyright (code & design) 2023 by Stefan W. Moeller. All rights reserved.
        </div>   
    </div>

</body>  
</html>