{% extends "grid_base.html" %}

{% block header %}
    <div>
        BrainGPT - Home
    </div>
{% endblock header %}



{% block content01 %}
	<strong>Background<br><br></strong>
	BrainGPT leverages our proprietary knowledge base to answer questions, providing sources for 
	reference to identify potential inaccuracies. Questions can be generic or specific to 
	knowledge collections. In a secondary phase, it may turn to OpenAI ChatGPT for 
	further assistance.
{% endblock content01 %}


{% block content02 %}
    <figure >

        <img src= "{{ url_for('static', filename='brain_floating_two_hands.png') }}">
    </figure>
{% endblock content02 %}

{% block info_box %}

{% endblock info_box %}


{% block footer %}
    <div>
        &copy; Copyright (code & design) 2023 by Stefan W. Moeller. All rights reserved.
    </div>
{% endblock footer %}