{% extends "grid_base.html" %}

{% block header %}
    <div>
        BrainGPT - Question
    </div>
{% endblock header %}


<form method="post"  action="{{ url_for('question') }}">
    {% block content01 scoped %}
        <section class="item_questiongrid">       
            <section class="item_question">
                {% block question %}
                    <label for="form_question">Your question:</label>
                    <input type="text" id="form_question" name="form_question" required>
                {% endblock question %}
            </section>
            <section class= "item_questionnavigation">
                {% block questionnavigation %}
                    <button type="submit">Submit</button><br> 
                    <input type="checkbox" id="c_conv" name="c_conv" value="True">
                    <label for="c_conv">Continue conversation</label>
                {% endblock questionnavigation %}
            </section>
            <section class="item_answer">
                {% block answer %}
                    <strong>Question: </strong> {{ question }}<br>
                    <strong>Answer: </strong> {{ answer }}<br>
                    <strong>Reference: </strong> {{ source }}<br>
                {% endblock answer %}
            </section>            
            <section class="item_history">
                {% block history %}
                    {{ form_question }}
                {% endblock history %}
            </section>
        </section>
    {% endblock content01 %}

    {% block content02 %}
        {#<form method="post"  action="{{ url_for('question') }}"> #}
        You can narrow down the search to focus on certain areas of interest. In this case, only selected 
        collections in the ChromaDB will be used retrieve the respective embeddings.<br>
        <ul>
            <input type="checkbox" id="business" name="business" value="True">
            <label for="business"> Business focus </label><br>
            <input type="checkbox" id="private" name="private" value="True">
            <label for="private"> Private focus </label><br>
            <input type="checkbox" id="sailing" name="sailing" value="True">
            <label for="sailing"> Sailing </label><br>
        </ul>
    {% endblock content02 %}
</form>

{% block info_box %}
	BrainGPT leverages our proprietary knowledge base to answer questions, providing sources for 
	reference to identify potential inaccuracies. Questions can be generic or specific to 
	knowledge collections. In a secondary phase, it may turn to OpenAI ChatGPT for 
	further assistance.
{% endblock info_box %}



{% block footer %}
    <div>
        &copy; Copyright (code & design) 2023 by Stefan W. Moeller. All rights reserved.
    </div>
{% endblock footer %}