{% extends "base.html" %}

{% block title %} Homepage BrainGPT {% endblock %}


{% block introduction %}
	<strong>Background<br></strong>
	BrainGPT is bringing your question right to our own knowledge base. 
	Only in second instance (still to be developed), it turns towards OpenAI ChatGPT. 
	Every source is marked, hence hallucination can be discovered comparable easy!
{% endblock %}

{% block question %}
	<form action="/" method = "post">
		{# token protects against malicious requests #}
		{{ form.csrf_token() }}
		{{ form.question }}
		{{ form.submit }}
		{{ form.new }} Continue conversation?
	</form>
{% endblock %}


{% block content %}
	{% if question %}
    	<h3>Your last question:</h3>
		{{ question }}
    {% endif %}
    {% if answer %}
		<div class="result_box">
			{{ answer.result.answer }}
			<div class="italic-text">
				Sources: {{ answer.result.source_documents }}
			</div>
		</div>
    {% endif %}
{% endblock %}

{% block history %}
<h3>Your past conversation on this topic</h3>
<div class="history_box">
	{{ historic_chat }}
</div>
{% endblock %}