.container {
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto auto 1fr auto;;
    gap: 0px 0px;
    grid-template-areas:
      "header header header"
      "navigation introduction empty_space"
      "navigation question empty_space"
      "navigation content empty_space"
      "footer footer footer";
    grid-column-gap: 10px;
    grid-template-columns: 100px auto 60%;
    
    background-color: rgb(117, 190, 218); 

    background-image: var(--background-url);
    background-position-x: right;
    background-size: 60% auto; 
    background-repeat: no-repeat;   
  }


.italic-text {
  font-style: italic;
}
 

.header {
    grid-area: header;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 7vh; 
    text-align: center;
    padding: 2px;
    letter-spacing: 5px;
    text-shadow: 2px 2px red;
    /*background-color: rgb(117, 190, 218);*/
    height: 10vh
}

.introduction { 
    grid-area: introduction;
    background-color: rgb(182, 205, 224);
    height: 100px;
    overflow: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 4px
}
  
.question {
    grid-area: question;
    /*background-color: rgb(222, 28, 164);*/
    height: 100px
}
  
.content {
    grid-area: content;
    /*background-color: rgb(222, 151, 28);*/
    overflow: auto;
    padding: 4px
}

.footer { 
    grid-area: footer;
    text-align: left;
    padding: 0.2vh;
    font-size: 1.5vh;
    /*background-color: rgb(175, 97, 204); */
    height: 3vh
}
  
  .navigation { 
    grid-area: navigation; 
    /*background-color: rgb(37, 34, 37);*/
    height: 100%
}
  
  .empty_space { 
    grid-area: empty_space;
    /*background-color: rgb(158, 232, 11);*/
}

/* Some classes */
.result_box {
    border: 2px solid rgb(187, 222, 235);
    max-height: 10vh;
    overflow: auto;
    margin: 1%;
    padding: 4px;
    margin-top: 2vh;
  }
