.grid_container {
  display: grid;
  height: 100vh;    /* Set the height of the grid to fill the viewport */
  width: 100vw;     /* Set the width of the grid to fill the viewport */
  grid-template-columns: 1fr 3fr 50%; /* Three columns: Navigation, Content area, Enpty space */
  grid-template-rows: auto 0.3fr 0.6fr 1.4fr 0.3fr 0.1fr;
  gap: 0px 0px; 
  grid-template-areas:
    "header header header"
    "navigation questiongrid empty_space"
    "navigation content empty_space"
    "navigation history empty_space"
    "introduction introduction empty_space"
    "footer footer empty_space";
  grid-column-gap: 0px;
  
  background-color: rgb(117, 190, 218); 
  margin: 0;
  padding: 0;
}

  .item_header {
    grid-area: header;
    margin: 0;
    height: 8vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vh; 
    padding-left: 5px;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    letter-spacing: 15px;
}

  .item_questiongrid { 
    grid-area: questiongrid; 
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 80% auto;
    grid-template-areas:
        "question questionnavigation";
    background-color: #d91bdf;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .item_question {
    grid-area: question;
    width:100%;
    padding: 10px;
    background-color: rgb(222, 28, 164);
  }

  .item_questionnavigation{
    grid-area: questionnavigation;
    padding: 10px;
    background-color: rgb(97, 118, 124);
  }
    
  .item_content {
      grid-area: content;
      /*background-color: rgb(222, 151, 28);*/
      overflow: auto;
      padding: 4px;
  }

  .item_history {
    grid-area: history;
    /*background-color: rgb(222, 151, 28);*/
    overflow: auto;
    padding: 4px;
  }

  .item_navigation { 
      grid-area: navigation; 
      background-color:  rgb(99, 161, 186); 
      height: 100%;
  }
    
  .item_empty_space { 
      grid-area: empty_space;
      width: 100%;
  /*    background-color: rgb(158, 232, 11); */
      background-image: var(--background-url);
      background-position-x: right;
      background-size: 100%; 
      background-repeat: no-repeat;
  }

.item_introduction { 
  grid-area: introduction;
  overflow: auto;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 5px;
  padding-right: 10px;
  align-items: end;
  text-align: justify;
  vertical-align: text-center;
  color: rgb(50, 97, 116); 
}
.item_footer { 
  grid-area: footer;
  text-align: left;
  padding: 5px;
  font-size: 1.5vh;
  align-items: end;
}

