  .item_questiongrid { 
    grid-area: questiongrid; 
    display: grid;

    height: 77vh;    /* Set the height of the grid to fill the viewport */

    grid-template-columns: 100% ;
    grid-template-rows: 20% 80%;

    grid-template-areas:
/*        "question questionnavigation"
        "set_configuration set_configuration";  */
    
        "question"
        "set_configuration";

    margin: 0;
    padding: 0;
    row-gap: 10px;

/*    background-color: #dfc81b;*/
  }

  .item_question {
    grid-area: question;

    padding: 10px;

    font-size: 1.6vh;

    background-color: rgb(149, 191, 207); 
/*    background-color: rgb(23, 202, 246);*/
  }

  .item_questionnavigation{
    grid-area: questionnavigation;
    
    padding: 10px;
    padding-right: 5px;
  
    font-size: 1.6vh;

    background-color: rgb(149, 191, 207); 
/*    background-color: rgb(54, 159, 63);*/
  }


  .item_configuration {
    grid-area: set_configuration;

    padding: 10px;

    font-size: 1.5vh;

/*    background-color: rgb(115, 16, 214); */
  }


  .item_answergrid { 
    grid-area: answergrid; 
    display: grid;

    height: 76vh;    /* Set the height of the grid to fill the viewport */

    grid-template-columns: 100% ;
    grid-template-rows: 40% auto;

    grid-template-areas:
/*        "question questionnavigation"
        "set_configuration set_configuration";  */
    
        "answer"
        "history";

    margin: 0;
    padding: 0;
    row-gap: 10px;

/*    background-color: #dfc81b;*/
  }


  .item_answer {
    grid-area: answer;

    background-color: rgba(0,0,0,.5);
    color: #fff;

    overflow: auto;

    padding: 10px;

    font-size: 1.6vh;

/*    background-color: rgb(122, 224, 27);*/
  }
  .item_history {
    grid-area: history;

    background-color: rgba(97, 108, 165, 0.5);
    color: #fff;

    padding: 10px;

    height:auto;

    overflow: auto;

    font-size: 1.6vh;

/*    background-color: rgb(115, 16, 214);*/
  }
